/* -- DESIGN 1 -- */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    background-color: #5fa19969;
    margin: 0;
    padding: 0;
}

#main-container {
    background-color: #fffde9;
    margin: 0 7rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.282);
    min-height: 100vh;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

p {
    font-size: 25px;
    margin: 0 0 2rem 0;
}

/* HEADER */
header {
    height: 20%;
}

#banner {
    background-image: url('../images/design2_image.jpg');
    background-position-y: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#logo {
    width: 200px
}

h1 {
    font-weight: 700;
    align-self: center;
    font-size: 55pt;
    color: #f8ea2d;
    -webkit-text-stroke: 2px #ba4c2e;
    text-shadow: -4px 0px 0px rgba(95, 161, 153, 1);
}

/* NAV */
nav {
    background-color: #5fa199;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>a {
    color: white;
    font-size: 20pt;
    text-decoration: none;
    margin: 0 1rem;
}

/* CONTENT BODY */
#content-body {
    align-items: center;
    display: flex;
    border: 2px solid #ba4c2e;
    justify-content: center;
    min-height: 73vh;
}

h2 {
    font-size: 30pt;
    text-align: center;
}

h3 {
    font-size: 20pt;
    margin: 0;
}

main {
    min-height: 25vh;
    width: 60%;
    max-height: 100%;
}

#contact p {
    text-align: center;
}

#rules,
#game-info {
    margin-top: 2rem;
}

#rules p {
    font-size: 16pt;
}

.subtitle {
    text-align: center;
}

.indent>p {
    text-indent: 25px;
}

.clean-text>p {
    margin: 0;
}

.reduce-line-height {
    line-height: 0;
}

/* ASIDE */
aside img {
    width: 450px;
}

/* LIST */
ol {
    padding: 0;
}

li {
    list-style-position: inside;
    font-size: 16pt;
}

#field-regulations>li {
    margin-bottom: 0.5rem;
}

.alpha {
    list-style: lower-alpha;
}

ul>li {
    list-style: circle;
}

/* TABLE */
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    padding: 2rem;
}

td {
    padding: 1rem 5rem;
}

/* GAME SCHEDULE */
#schedule-info {
    margin: 2rem;
}

#schedule-info>div {
    display: flex;
    justify-content: space-between;
}